<header class="site-header" role="banner">

  <div class="wrapper">

    {% include title-baner.html logo_url="/logo-konkursy.svg" text="Rok mjr Dybowskiego" main_page="true" %}

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
        {% if my_page.title %}
        {% assign nest_lvl =  my_page.url | split: "/" | join: " " | number_of_words %}
        {% if nest_lvl <= 1 %}
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
