<article class="about-plastyczny">
<header><h1>O konkursie:</h1></header>

<p>Istotnym elementem obchodów Roku Majora Dybowskiego w Legnicy<br> jest konkurs plastyczny,
sponsorowany przez Fundację Pawła Jurosa<br> oraz Fundację KGHM.
</p>

<p>Konkurs adresowany jest do wszystkich uczniów legnickich szkół<br> gimnazjalnych,
ponadgimnazjalnych i studentów legnickich szkół wyższych.
</p>

<p>Motywem przewodnim konkursu są Żołnierze Wyklęci<br> oraz ich niezłomna postawa
w obliczu tyranii imperium sowieckiego. <br>Prace mogą przedstawiać dowolną wizję, o charakterze patriotycznym, <br>
 zgodną z duchem konkursu.
</p>

<p>Nagrodą główną jest aparat fotograficzny - lustrzanka cyfrowa firmy Nikon.
</p>

<p>Zainteresowanych udziałem prosimy o zapoznanie się z <a href="{{ site.plasturl | relative_url }}/regulamin.html">regulaminem</a>.<br>
Pobranie, wydrukowanie i czytelne wypełnienie <a href="{{ site.filesurl | relative_url }}/karta-zgloszeniowa-konkurs-plastyczny.pdf">karty zgłoszeniowej</a>.<br>
Dostarczenie pracy wraz z kartą do sekratariatu jednej z poniższych instytucji kultury:
</p>

<ul>
<li><a href="{{ site.sdk_kopernik }}">Spółdzielczy Dom Kultury "Kopernik", ul. Koziorożca 9</a></li>
<li><a href="{{ site.mck_legnica }}">Młodzieżowe Centrum Kultury, ul. Mickiewicza 3, 59-220 Legnica</a></li>
</ul>

<p>Ostateczny termin zgłoszeń upływa 10 kwietnia 2017 r.</p>

<p>Żywimy nadzieję, że konkurs zachęci młodych twórców do rozwoju <br>artystycznego
i doskonalenia swoich umiejętności.</p>

<p>Wszystkim uczestnikom życzymy wytrwałości w dążeniu do artystycznej<br> perfekcji.
</p>
</article>
