<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign main_pages = site.pages | where:"dir", "/" %}
    {% assign sub_pages_plastyczny = site.pages | where:"dir", site.plastdir | sort: 'priorytet_menu' %}
    {% assign sub_pages_muzyka = site.pages | where:"dir", site.muzdir | sort: 'priorytet_menu' %}

    {% assign url_first_part = page.url | remove_first: "/" | split: "/" | first | prepend: "/" %}
    {% case url_first_part %}
      {% when site.plasturl %}
          {% include title-baner.html text="Konkurs Plastyczny" %}
          {% assign main_title = "Konkurs Plastyczny" %}
          {% assign lower_nav_pages = sub_pages_plastyczny%}
          {% capture news_ret_url %}/konkurs-plastyczny.html{% endcapture %}

      {% when site.muzurl %}
          {% include title-baner.html text="Muzyka Wyklęta" %}
          {% assign main_title = "Muzyka Wyklęta" %}
          {% assign lower_nav_pages = sub_pages_muzyka%}
          {% capture news_ret_url %}/muzyka-wykleta.html{% endcapture %}

      {% else %}
        {% include title-baner.html text=page.title %}
        {% case page.title %}
        {% when "Konkurs Plastyczny" %}
          {% assign lower_nav_pages = sub_pages_plastyczny %}
        {% when "Muzyka Wyklęta" %}
          {% assign lower_nav_pages = sub_pages_muzyka %}
        {% endcase %}
    {% endcase %}

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ "index.html" | relative_url }}">Strona główna</a>
        {% for my_page in site.pages %}
        {% if my_page.title %}
        {% assign nest_lvl =  my_page.url | split: "/" | join: " " | number_of_words %}
        {% if nest_lvl <= 1 %}
        {% if my_page.title != page.title %}
        {% if main_title != my_page.title %}
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </nav>
    <nav class="site-nav lower-nav">
      <div class="trigger">
        {% include get-url-lvl url=page.url %}
        {% if url_lvl > 1 %}
          <a class="page-link" href="{{ news_ret_url | relative_url }}">Aktualności</a>
        {% endif %}

        {% for my_page in lower_nav_pages %}
          {% unless my_page.title == page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endunless %}
        {% endfor %}

        {% if page.fb_id %}
          {% capture fbid %}{{ page.fb_id }}{% endcapture %}
        {% else %}
          {% capture fbid %}100015251559033{% endcapture %}
        {% endif %}

        {% if page.fb_name %}
          {% capture fbname %}{{ page.fb_name }}{% endcapture %}
        {% else %}
          {% capture fbname %}{{ main_title }}{% endcapture %}
        {% endif %}

        <span class="fb-in-nav">
          {% include icon-facebook.html fb_id=fbid fb_name=fbname %}
        </span>

      </div>
    </nav>


  </div>

</header>
