---
layout: default
---

<div class="home">
  <p>Konkursy są ufundowane przez: Fundację Pawła Jurosa oraz Fundację KGHM.</p>
  {% include pinned-infos.html %}


<h1 class="page-heading">Aktualności</h1>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%-d.%m.%Y" }}</span>

            <h2>
               <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
</div>
