---
layout: default
---

<div class="home">
  <p>Sponsorami konkursów są: Fundacja Pawła Jurosa oraz Fundacja KGHM.</p>
  {% include pinned-infos.html %}


<div class="news-section">
 <h2>Aktualności</h2>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%-d.%m.%Y" }}</span>

            <h2>
               <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <div class="post-excerpt">
            {{ post.excerpt | truncatewords: 30 }}
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
</div>
