---
layout: konkurs
---

<div class="home">
  {% include facebook-bar.html %}
  {% include quote-of-the-day.html %}
  {% include pinned-infos.html %}

<div class="news-section">
<h2 class="page-heading">Aktualności</h2>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        {% if post.categories contains 'plastyczny' %}
        <li>
            <span class="post-meta">{{ post.date | date: "%-d.%m.%Y" }}</span>

            <h2>
               <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <div class="post-excerpt">
            {{ post.excerpt | truncatewords: 30 }}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
</div>
