---
layout: konkurs
---

<div class="home">
  {% include facebook-bar.html %}
  {% include pinned-infos.html %}

<h1 class="page-heading">Aktualności</h1>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        {% if post.categories contains 'plastyczny' %}
        <li>
            <span class="post-meta">{{ post.date | date: "%-d.%m.%Y" }}</span>

            <h2>
               <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
